# Dossier vendor de Composer
/vendor/

# Fichiers d'environnement
.env
.env.backup

# Fichiers de configuration locaux
*.local.php

# Dossiers et fichiers générés
/storage/logs/*
/node_modules/
logs/php-errors.log
